<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="FileName" value="VehiclePosition.Data\Data\VehiclePositions.dat"/>
		<add key="MaxDistance" value="400000000"/>
		<add key="EarthRadius" value="6371"/>
		<add key="MaxRecords" value="2000000"/>
	</appSettings>
</configuration>